/*#A48D71 Taupe*/
/*#71A499 Greyish Teal*/
/*#7871A4 Dark Lavender*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
  color: #7871a4;
  text-shadow: 2px 2px 3px rgb(255, 255, 255);
}

a {
  color: #7871a4;
  text-decoration: none;
  font-weight: bold;
}

p {
  color: black;
}

ul {
  list-style-type: none;
}

ol {
  list-style-position: inside;
}

nav {
  align-content: center;
  width: 100%;
  background-color: rgb(255, 255, 255, 0.8);
}

nav ul {
  text-align: center;
}

nav ul > li {
  display: inline-block;
  font-size: 2em;
  margin: 0.1em;
}

a:hover {
  animation-name: color-change;
  animation-duration: 0.7s;
}

@keyframes color-change {
  0% {
    color: #7871a4;
  }
  100% {
    color: white;
  }
}

footer {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  text-align: center;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.homepage-content h1 {
  font-size: 12em;
}

.homepage-content h2 {
  font-size: 6em;
}

.homepage-content h3 {
  font-size: 3em;
}

.main-wrapper {
  margin: auto;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

.other-articles {
  background-color: rgb(256, 256, 256, 0.8);
  padding: 10px;
  margin: 10px;
}

.main-article {
  background-color: rgb(256, 256, 256, 0.8);
  padding: 10px;
  margin: 10px;
}

.main-article h1 {
  font-size: 2em;
}

.section-article {
  background-color: rgb(256, 256, 256, 0.8);
  padding: 10px;
  margin: 10px;
  list-style: none;
}
