/*#A48D71 Taupe*/
/*#71A499 Greyish Teal*/
/*#7871A4 Dark Lavender*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;

  /*TODO don't hardcode good dog*/
  background-image: url("../images/vinny.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

nav {
  /*background-color: black;*/
  align-content: center;
  width: 100%;
  background-color: rgb(255,255,255,0.5);
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul > li {
  display: inline-block;
  font-size: 2em;
  margin: 0.1em;
}

nav a {
  text-decoration: none;
  color: #7871A4;
  font-weight: bold;
}

nav a:hover {
  text-shadow: black;
  animation-name: color-change;
  animation-duration: 0.7s;
}

@keyframes color-change {
    0% {
        color: #7871A4;
    }
    100% {
        color: white;
    }
}

footer {
  position: fixed;
  width: 100vw;
  left: 0;
  bottom: 0;
  text-align: center;
}

.homepage-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  height: 100%;

  color: #7871a4;
}

.homepage-content h1 {
  font-size: 12em;
}

.homepage-content h2 {
  font-size: 6em;
}

.homepage-content p {
  font-size: 3em;
}
