{{ $src := $.Get "src" }}
{{ $size := $.Get "size" | default "300x" }}

<!-- Attempt to get the image from the page directory -->
{{ $pageImage := .Page.Resources.GetMatch $src }}

<!-- If image not found in the page directory, get it from the assets directory -->
{{ if not $pageImage }}
    {{ $pageImage = resources.Get $src }}
{{ end }}

{{ if not $pageImage }}

	{{ $dimensions := split $size "x" }}

	{{ $width := index $dimensions 0 }}
	{{ $height := index $dimensions 1 }}

	{{ $style := printf "width: %spx; height: %spx;" $width $height }}

	<picture>
		<a href="{{ $src }}" target="_blank">
			<img src="{{ $src }}" alt="{{ $src }}" style="width: {{ $width }}px; height: {{ $height }}px;">
		</a>
	</picture>
{{ else }}

<!-- Resize image as a test it's working -->
{{ $newImage := $pageImage.Resize (printf "%s %s" $size " webp") }}

<picture>
  <a href="{{ $pageImage.Permalink }}" target="_blank">
    <img src="{{ $newImage.Permalink }}" alt="{{ $src }}" style="width:auto;">
  </a>
</picture>

{{ end }}
